@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <span class="text-muted small">CineBook – Система за резервации</span>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    Възникна грешка.
    <a href="." class="reload">Презареди</a>
    <span class="dismiss">🗙</span>
</div>
